@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/bestermind");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* color */
  --primary-color: #0c0b08;
  --secondary-color: #dcca87;
  --white-color: #fff;
  --semi-white-color: #cfcfcf;
  --grey-color: #aaa;

  /* font-family */
  --first-font: "Cormorant Upright";
  --second-font: "open sans";
  --third-font: "Bestermind", sans-serif;

  /* font-size */
  --primary-font: 3.7rem;
  --secondary-font: 2.5rem;
  --tertiary-font: 2rem;
  --semi-tertiary-font: 1.5rem;
  --default-font: 1rem;
  --small-font: 0.8rem;
  --smaller-font: 0.6rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.375rem); 
  /*  font-size: 62.5%; this convert 1rem to become 10px instead of 16px and also for easy calculation */

  scroll-behavior: smooth;
}

body {
  background: var(--primary-color);
  color: var(--grey-color);
  font-family: "open sans", sans-serif;
}

a :link,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  display: inline-flex;
  width: 100%;
  gap: 14rem;
  padding: 20px 50px;
  background: var(--primary-color);
}

/* Add Header-shadow 
.header-shadow {
  box-shadow: 0 2px 5px #5e5d5d9f;
}*/

.logo {
  font-family: "cormorant Uprigh";
  text-transform: uppercase;
  letter-spacing: 1.76px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  padding-left: 60px
}

.left-navbar {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
}

.left-navbar ul {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.right-navbar {
  position: relative;
  display: inline-block;
}

.right-navbar .login-box {
  display: flex;
  gap: 15px;

 
}

.login-box li {
  font-weight: 400;
  text-align: center;
  font-size: 12px;
}


/* show login bar */
.show-login {
  display: block;
}


.hamburger,
.close {
  font-size: 2rem;
  display: none;
}

/* open Navbar */
.navActive {
  right: 0;
}

/* HOME SECTION */

.home-container {
  margin: 6rem 0 4rem;
}

.home {
  display: flex;
  margin: 0 auto;
  gap: 5rem;
  padding:0 10rem;
}

.home-text-container {
  width: 40%;
}

.home-text-container .home-text {
  font-size: var(--smaller-font);
  font-weight: 500;
  letter-spacing: 2px;
}

.home-text-container svg {
  display: block;
  width: 32px;
  height: 40px;
}

.home-text-container h1 {
  color: var(--secondary-color);
  font-size: var(--secondary-font);
  font-weight: 600;
  letter-spacing: 3.6px;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-family: "Cormorant Upright", sans-serif;
}

.home-text-container small {
  display: inline-block;
  font-size: var(--smaller-font);
  color: var(--grey-color);
  text-align: justify;
}

.home-text-container button {
  padding: 8px 32px;
  align-items: center;
  font-weight: bolder;
  color: var(--primary-color);
  font-family: "Cormorant Upright";
  letter-spacing: 1.7px;
  border: none;
  background: var(--secondary-color);
  margin-top: 1rem;
}

.image-container {
  max-width: 100%;
  justify-items: center;
}

.bg-image {
  position: relative;
}

.bg-image::before {
  content: "";
  width: 70%;
  height: 70%;
  background: #dcca87;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

.bg-image::after {
  content: "";
  width: 70%;
  height: 70%;
  background: #dcca87;
  position: absolute;
  top: -15px;
  right: -15px;
}

.bg-image img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

/* About Section */

section.about {
  background-image: url("../img/malik-skydsgaard.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

.about-text-container {
  background: no-repeat center url(../img/G.png);
  display: flex;
  align-items: center;
  padding-inline: 10rem;
  gap: 2.5rem;
}

.left-about-text {
  display: block;
  width: 100%;
}

.left-about-text h1 {
  display: block;
  font-size: var(--tertiary-font);
  font-weight: 600;
  font-family: "Cormorant Upright";
  color: var(--secondary-color);
  text-align: right;
}

.left-about-text svg {
  display: block;
  float: right;
}

.left-about-text p {
  text-align: right;
  font-size: var(--smaller-font);
  display: block;
  font-weight: 100;
  padding: 1rem 0;
}

.left-about-text button {
  float: right;
  padding: 8px 32px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: var(--small-font);
  letter-spacing: 1px;
  border: none;
  font-family: "Cormorant Upright";
}

.about-image {
  max-width: fit-content;
}

.about-image img {
  width: 60px;
  height: 600px;
}

.right-about-text {
  width: 100%;
}

.right-about-text h1 {
  display: block;
  font-size: var(--tertiary-font);
  font-weight: 600;
  font-family: "Cormorant Upright";
  color: var(--secondary-color);
}

.right-about-text svg {
  display: block;
}

.right-about-text p {
  font-size: var(--smaller-font);
  display: inline-block;
  padding: 1rem 0;
  font-family: inherit;
  font-weight: 100;
}

.right-about-text button {
  display: flex;
  justify-self: flex-start;
  padding: 8px 32px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: var(--small-font);
  letter-spacing: 1px;
  border: none;
  font-family: "Cormorant Upright";
}

/* SPECIAL CONTAINER */

.special-container {
  width: 100%;
  padding: 5rem 5.5rem;
  zoom: 0.8;
  padding-inline: 3rem;
}

.special-heading {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: var(--first-font);
}

.special-heading span {
  font-size: var(--default-font);
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 2px;
  margin: 0 auto;
}

.special-heading svg {
  width: 30px;
  margin: 0.5rem auto;
}

.special-heading h1 {
  text-transform: capitalize;
  font-size: var(--secondary-font);
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 2rem;
}

.special-drink-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-inline: 3.5rem;
  margin-bottom: 1rem;
}

/* Left Special */

.left-special-container h2 {
  text-align: center;
  font-family: var(--first-font);
  font-size: var(--tertiary-font);
  text-transform: capitalize;
  color: var(--semi-white-color);
}

.wine-beer-container {
  padding: 30px 0;
}

.wine-beer-container span {
  font-size: 13px;
}

.drinks-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.drinks-details .drink-name {
  font-size: 14px;
  color: #dcca87;
  font-family: var(--first-font);
  font-weight: 500;
  text-transform: capitalize;
  width: 100px;
}

.drinks-details svg {
  padding-left: 32px;
}

.drinks-details .drink-price {
  font-size: var(--small-font);
  font-family: var(--second-font);
  color: var(--white-color);
}

/* Right Special */

.cocktail-container {
  padding: 32px 0;
}


.right-special-container h2 {
  text-align: center;
  font-family: var(--first-font);
  font-size: 40px;
  text-transform: capitalize;
 color: var(--semi-white-color);
}

.cocktail-container span {
  font-size: 13px;
}

.special button {
  display: flex;
  justify-self: center;
  padding: 10px 30px;
  background: #dcca87;
  color: #0c0b08;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  font-family: "Cormorant Upright";
}

/* Chef Section */

.chef-container {
  background: no-repeat right bottom url(../img/malik-skydsgaard.jpg);
  background-size: cover;
  flex-wrap: wrap;
}

.chef {
  display: flex;
  justify-content: center;
  justify-self: center;
  gap: 4rem;
  align-items: center;
  padding: 5rem 10rem;
}

.chef-image {
  position: relative;
}

.chef-image::before {
  content: "";
  position: absolute;
  top: -.8rem;
  right: -.8rem;
  width: 70%;
  height: 70%;
  background: #dcca87;
}

.chef-image::after {
  content: "";
  position: absolute;
  left: -.8rem;
  bottom: -.8rem;
  width: 70%;
  height: 70%;
  background: #dcca87;
}

.chef-image img {
  width: 400px;
  position: relative;
  z-index: 3;
}

.chef-text-container {
  flex-wrap: wrap;
}

.chef-text-container span {
  display: block;
  font: 15px var(--first-font);
  text-transform: capitalize;
}

.chef-text-container .chef-heading {
  font-family: var(--first-font);
  color: #dcca87;
  font-size: var(--tertiary-font);
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 2rem;
}

.chef-text {
  font-style: italic;
  font-size: var(--smaller-font);
  font-family: var(--second-font);
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 2rem;
}

.chef-text svg {
  padding-right: 0.5rem;
}

.founder-section h2 {
  font-size: var(--semi-tertiary-fonttertiary-font);
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--first-font);
  color: var(--secondary-color);
  letter-spacing: 1.7px;
}

.founder-section p {
  display: inline-block;
  font-size: var(--smaller-font);
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.signature p {
  font-size: 2.3rem;
  text-transform: capitalize;
  font-family: var(--third-font);
  font-weight: 100;
}

/* RESTAURANT */

.restaurant-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.restaurant-container svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 80px;
  height: 80px;
}

/* Laurel Container */

.laurel-container {
  background: center no-repeat url("../img/malik-skydsgaard.jpg");
  background-size: cover;
}

.laurel-logo{
padding-left: 2rem;
}


.laurel-dept {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-inline: 10rem;
  padding-bottom: 4rem;
  margin-top: -2rem;

}

.left-laurel {
  align-self: center;
}

.left-laurel .award {
  display: block;
  font-size: var(--default-font);
  text-transform: capitalize;
  font-family: var(--first-font);
  font-weight: 700;
}

.left-laurel .spoon {
  width: 50px;
  height: 50px;
}

.left-laurel h2 {
  text-transform: capitalize;
  font-family: var(--first-font);
  font-size: var(--secondary-font);
  color: var(--secondary-color);
}

.laurel-details {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1.4rem auto;
}

.left-laurel-details {
  display: flex;
  order: 2;
}

.laurel-details svg {
  width: 100px;
}

.laurel-text h6 {
  font: var(--small-font) var(--first-font);
  text-transform: capitalize;
  font-weight: 400;
  color: var(--secondary-color);
}

.laurel-text p {
  font-size: 12px;
  font-family: var(--second-font);
}

.left-laurel-details,
.right-laurel-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Right Laurel */

.right-laurel {
  width: 100%;
  padding-left: 4rem;
}

.laurel-image {
  position: relative;
}

.right-laurel img {
  max-width: 100%;
}

.laurel-image svg {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: -15%;
}

/* GALLERY SECTION */

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-image: url(../img/malik-skydsgaard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.6rem 0;
}

.left-gallery {
  display: block;
  flex-basis: 35%;
  align-self: center;
  padding: 2.5rem;
}

.left-gallery .instagram {
  display: block;
  text-transform: capitalize;
  font-family: var(--first-font);
  font-size: var(--default-font);
}

.left-gallery h1 {
  text-transform: capitalize;
  font: 40px var(--first-font);
  font-weight: 700;
  color: var(--secondary-color);
  padding-bottom: 0.9375rem;
  width: fit-content;
}

.left-gallery p {
  flex-wrap: wrap;
  font-size: var(--smaller-font);
  font-weight: 100;
  padding-bottom: 0.5rem;
}

.left-gallery button {
  background: var(--secondary-color);
  border: none;
  padding: 0.4rem 1.5rem;
  font-size: var(--small-font);
  font-family: var(--first-font);
  font-weight: 500;
  text-transform: capitalize;
}

.right-gallery {
  position: relative;
  width: fit-content;
}

.right-gallery .bg-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.bg {
  position: relative;
}

.bg i {
  font-size: var(--tertiary-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.bg:hover i {
  opacity: 1;
}

.right-gallery img {
  width: 100%;
  transition: filter 0.3s;
}

.right-gallery img:hover {
  filter: brightness(50%);
}

/* contact section */

.contact-container {
  background: no-repeat url(../img/malik-skydsgaard.jpg);
  background-size: cover;
}

.contact {
  padding: 5rem 10rem;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin: 0 3rem;
}

.left-contact {
  padding-top: 0.5rem;
  margin-right: 1rem;
  width: 50%;
}

.left-contact .text-contact {
  font-size: var(--default-font);
  font-family: var(--first-font);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
}

.left-contact svg {
  width: 2rem;
}

.left-contact h1 {
  font: var(--secondary-font) var(--first-font);
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  color: var(--secondary-color);
  padding-bottom: 1.5rem;
}

.left-contact p {
  width: fit-content;
  font-size: 12px;
}

.left-contact .contact-text{
  padding-bottom: 1rem;
}

.left-contact h2 {
  width: fit-content;
  font-size: 20px;
  font-family: var(--first-font);
  color: var(--secondary-color);
  padding-bottom: 1.2rem;
}

.left-contact .working-hours {
  word-spacing: 0.3rem;
  padding-bottom: 1rem;
}


.left-contact button {
  background: var(--secondary-color);
  border: none;
  padding: 0.5rem 1.8rem;
  font-weight: 400;
  font: var(--small-font) var(--first-font);
  margin-top: 1.5rem;
}

/* right contact section */

.right-contact {
  max-width: 100%;
  position: relative;
}

.right-contact img {
  width: 100%;
  position: relative;
  z-index: 3;
}

.right-contact::before {
  content: "";
  width: 300px;
  height: 300px;
  background: var(--secondary-color);
  position: absolute;
  left: -1rem;
  bottom: -0.1rem;
}

.right-contact::after {
  content: "";
  width: 300px;
  height: 300px;
  background: var(--secondary-color);
  position: absolute;
  top: -1rem;
  right: -1rem;
}

/* newsletter section */

.newsletter-container{
 background: no-repeat url(../img/malik-skydsgaard.jpg);
}

.newsletter {
  background: var(--primary-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  border-left: .5px solid var(--secondary-color);

  border-right: .5px solid var(--secondary-color);
  
  border-bottom: 1px solid var(--secondary-color);

  padding: 10px 6rem;
box-shadow: 0 10px 15px  #161616;
}

.newsletter h5 {
  font-family: var(--first-font);
  font-size: var(--default-font);
  letter-spacing: 0.12rem;
  padding-top: 1.3rem;
  padding-bottom:7px;
}

.newsletter svg {
  margin: 0 auto;
 
}

.newsletter h1 {
  font-size: var(--tertiary-font);
  text-transform: capitalize;
  font-family: var(--first-font);
  color: var(--secondary-color);
  letter-spacing: 0.12rem;
  margin-bottom: 1.5rem;
  padding-top: 12px;
}

.newsletter span {
  font-size: 13px;
  text-transform: capitalize;
  padding-bottom: 2.5rem;
}

/* input section */

.input-container {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.input-container input {
  width: 80%;
padding: 0 .5rem;
  height: 40px;
  background: transparent;
  border:1px solid var(--secondary-color);
  outline: 0;
  color: var(--white-color);
  font-size: 10px;

}

.input-container input::placeholder {
  color: var(--secondary-color);
  font-family: var(--first-font);
}

.input-container button {
  background: var(--secondary-color);
  border: 0;
  padding: 0.4rem 1.5rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-family: var(--first-font);
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 0.1rem;
}

/* top button 

.top-btn {
  background: #dcca87;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 2px 2px 7px #6b6a6af8;
  position: fixed;
  right: 20px;
  bottom: -100%;
  transition: transform 0.5s, background 0.3s, bottom 0.3s;
  cursor: pointer;
  z-index: 10;
}

.top-btn:hover {
  transform: translateY(-5px);
  background: #f3e09b;
}

.top-btn i {
  font-weight: bolder;
  padding: 10px;
  color: #222;
}

.show-btn {
  bottom: 50px;
}*/

/* footer section */

.footer-container {
  padding: 4rem 0 6rem;
  background: no-repeat url(../img/malik-skydsgaard.jpg);
}

footer {
  width: 100%;
}

.footer-data {
  display: flex;
  gap: 3.3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  max-width: 80%;
  margin: 0 auto;
}

.footer-data > div {
  text-align: center;
}

.footer-contact,
.footer-quote,
.footer-working-hours {
  flex: 1;
}

.footer-contact h1 {
  font-size: var(--default-font);
  font-family: var(--first-font);
  text-transform: capitalize;
  padding-bottom: 1rem;
  color: var(--white-color);
}

.footer-contact address {
  font-style: normal;
  font-size: small;
  word-spacing: 0.12rem;
}

.footer-contact .phone {
  padding: 0.3rem 0;
  font-size: small;
}

/* footer Quote */
.footer-quote h1 {
  font: var(--tertiary-font) var(--first-font);
  text-transform: uppercase;
  font-weight: 700;
  color: #dcca87;
  padding-bottom: 0.5rem;
}

.footer-quote .quote {
  margin: 0 auto;
  font-size: small;
  width: 80%;
}

.footer-quote svg {
  margin-top: 1rem;
}

/*  Foter social  */

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.footer-social i {
  font-size: 0.625rem;
  cursor: pointer;
  transition: transform 0.45s;
}

.footer-social i:hover {
  transform: translateY(-3px);
  transform: scale(1.3);
}

/* footer working  */

.footer-working-hours h1 {
  color: var(--white-color);
  font-size: 1.2rem;
  font-family: var(--first-font);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}

.work-hours {
  display: block;
  word-spacing: 0.12rem;
  line-height: 1.5;
  font-size: small;
  padding-bottom: 12px;
}

.reserve {
  display: flex;
  justify-self: center;
  font-size: small;
}

#date {
  padding-right: 0.23rem;
}

/* scroll button */
::-webkit-scrollbar {
  width: 10px;
  background: #50482b70;
}

::-webkit-scrollbar-thumb {
  background: #726947;
  width: 8px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dcca87;
}

/* MEDIA QUERIES */

@media (min-width: 1900px) {
  body {
    zoom: 1.3;
  }
}

@media (max-width: 1340px) {
  .restaurant-container {
    max-width: fit-content;
  }

  .restaurant-container svg {
    display: none;
  }

  .restaurant-container img {
    max-width: 98%;
    width: fit-content;
  }
}

@media (max-width: 1270px) {
  .restaurant-container img {
    width: 1200px;
  }

  .laurel-dept {
    flex-direction: column;
  }

  .right-laurel {
    display: flex;
    justify-content: center;
  }

  .laurel-image svg {
    max-width: 50%;
    height: 40%;
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  /* home container */
 
  .logo {
    flex-grow: 1;
  }

  nav {
    background: rgb(var(--primary-color), .6);
    width: 70%;
    width: 60vw;
    height: 120vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 50;
    padding: 2rem 0 0;
    backdrop-filter: blur(10px);
    box-shadow: 2px 0 15px #c7c5c59d;
    transition: right 0.3s;
  }

  nav,
  .left-navbar ul {
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
  }

  .left-navbar {
    width: 100%;
    padding-top: 10rem;
  }

  .right-navbar .login {
    display: none;
  }


  .left-navbar ul {
    font-size: 1.5rem;
    font-weight: 700;
  }

 .home {
    flex-direction: column;
    gap: 3rem;

  }

  .home-text-container{
    width: 80%;
  }

  .hamburger,
  .close {
    display: block;
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  section.about{
    padding: 0;
  }

  .about-text-container {
    flex-direction: column;
    padding-inline: 20rem;
  }

  .left-about-text button{
    float: left;
  }

  .left-about-text p,
  .left-about-text h1 {
    text-align: left;
  }

  .left-about-text svg {
    float: left;
  }

  .left-about-text button {
    justify-self: start;
  }

  .swiper {
    width: 100%;
    height: auto;
  }

  .bg-image img {
    width: 100%;
  }

  /* chef container */

  .chef {
    flex-direction: column;
  }

  .chef-image {
    width: fit-content;
  }

  .chef-image img {
    width: 100%;
  }

  /* Gallery Container */

  .gallery-container {
    flex-direction: column;
  }

  /* contact */

  .contact {
    flex-direction: column;
    gap: 2.4rem;
  }

  .contact-image img {
    width: 100%;
  }

  .right-contact::after,
  .right-contact::before {
    width: fit-content;
  }

  /* Footer */


}
@media (max-width: 1000px) {



  .home-text-container{
width: 100%;
  }

  .home-text-container h1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }

  
  .about-text-container {
    flex-direction: column;
    padding-inline: 15rem;
  }

  .special-heading h1 {
    font-size: 3rem;
  }

  .special-drink-container {
    width: 100%;
    flex-direction: column;
  align-items: center;
  }

  .laurel-details {
    flex-direction: column;
    gap: 1rem;
    
  }

  .right-laurel-details{
    margin-top: 1rem;
  }

  .laurel-details svg {
    width: fit-content;
  }

  .bg img {
    width: 100%;
  }
}

@media (max-width: 900px) {

  .right-navbar .login-box li {
    font-size: 2vw;
  }

  .about .great {
    top: 26rem;
    max-width: 50%;
  }

  .mid-special-container img {
    max-width: 100%;
  }

   
  .chef{
    padding: 0 3rem;
  }


  .contact {
   padding: 0;
  }

  .left-contact {
    margin: 0 auto;
  }

  .contact-image {
    width: 100%;
    padding-bottom: 2rem;
  }

  .contact-image img {
    width: 50%;
    display: flex;
    margin: 0 auto;
  } 
}

@media (max-width: 830px) {

  .home{
    padding-inline: 5rem ;
  }

.about-text-container{
  padding-inline: 6rem;
}

  .about .great {
    top: 40rem;
  }

  .chef-text-container .chef-heading {
    font-size: 3rem;
  }

  .footer-data {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

@media (max-width: 530px) {
  .home-text-container h1 {
    font-size: 2.5rem;
  }
 
  .chef-text-container .chef-heading {
    font-size: 2rem;
  }

  .laurel-image svg {
    height: 40%;
  }

  .left-gallery {
    justify-items: center;
    text-align: center;
  }

  .bg-container {
    flex-direction: column;
    gap: 2rem;
  }


  /* Contact */

  .contact-image img{
    width: 100%;
  }


  /* Newsletter */

  .newsletter h1 {
    font-size: 1.6rem;
  }

  .newsletter h5 {
    font-size: 1rem;
  }

  .newsletter svg {
    font-size: 7rem;
  }
}
